{% extends 'base.html'%}
{% block body%}



<div class="container">

    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-4">

            <div class="card h-100" style="width: 18rem;">
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="150px" height="250px">

  <div class="card-body display:flex; flex-direction:column;">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text ">{{i.desc}}</p>
<!--    <div class="card-deck mb-auto">-->
    <div class="card-btn align-self">
        <div class="flex-item; flex-direction:bottom;">
            <div class=Center align='bottom'>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn-bot btn btn-primary">View Details</a>
             </div>
        </div>
    </div>
<!--</div>-->
  </div>
</div>
        </div>
        {% endfor %}
    </div>

</div>


<a href=>{{i.name}}<br>

{% endblock %}
